@font-face {
    font-family: "DoulosSIL";
    src: url("../fonts/DoulosSIL-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sanskrit Text";
    src: url("../fonts/SANSKRIT-TEXT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Samarkan";
    src: url("../fonts/SAMARKAN.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline-color: #d11618;

    a {
        text-decoration: underline;
        color: inherit;
        font-family: inherit;

        &:hover {
            color: #ffbb00;
        }
    }
}

hindi {
    font-family: "Sanskrit Text", "Poppins", "Calibri", sans-serif;
}

.nav-pages-buttons {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: #272727;
        padding: 10px;
        margin: 4px;
        transition: 0.2s all;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #d11618;
            transition: 0.2s all;
        }
    }
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px 1px #f0f0f0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 3;
    
    img {
        height: 40px;
    }
}

main {
    padding: 10px 60px 30px 60px;
    font-family: "Assistant", "Calibri", sans-serif;
}

footer {
    background-color: #af0003;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 40px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Glegoo', 'Calibri', sans-serif;

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            margin: 0 4px;
        }
    }
}

input[type="radio"] {
    appearance: none; /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0; /* Makes it invisible but still functional */
    position: relative;
    margin: 0;
    cursor: pointer;
}

label {
    padding: 4px;
    cursor: pointer;
}

.hero-text {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-bottom: 20px;
    // height: 380px;

    .title-text {
        text-align: center;
        margin-bottom: 10px;
        color: #d11618;
        font-size: 22px;
        font-family: 'Playwrite IS', 'Calibri', sans-serif;
    }

    .title-shloka {
        font-size: 20px;
        font-family: "Sanskrit Text", "Poppins", "Calibri", sans-serif;
        margin: 10px;
        text-align: center;
    }

}

.details {
    margin: 10px 50px;
    // border: 1px solid #f0f0f0;
    // border-radius: 20px 0 20px 0;
    padding: 10px;

    div {
        padding: 4px 10px;

        .details-title {
            font-size: 24px;
            margin-bottom: 8px;
            font-family: "Playwrite IS", "Calibri", sans-serif;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

.section-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;

    div.section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid #e0e0e0;
        background-color: #fffefe;
        color: #272727;
        transition: 0.2s all;
        height: 150px;
        width: 200px;
        margin: 10px;
        padding: 10px;
        border-radius: 0 24px 0 24px;
        
        img {
            height: 40px;
            width: 40px;
            margin: 10px;
            transition: 0.2s all;
        }
        span {
            font-size: 14px;
            font-weight: 600;
            font-family: 'Glegoo', 'Calibri', sans-serif;
        }

        &:hover, &:focus {
            border: 1px solid #d11618;
            color: #d11618;
            transition: 0.2s all;
            background-color: #fffbfb;
            animation: pulse_glow 1s linear infinite;

            img {
                height: 50px;
                width: 50px;
                margin: 5px;
                transition: 0.2s all;
            }
        }
    }
}

.content-container {
    margin: 10px 30px;

    ol,
    ul {
        margin-left: 30px;
    }

    p {
        margin-top: 8px;
    }


    .steps-section {
        margin: 30px 0;
    }

    .step-section-title {
        font-size: 22px;
        border-radius: 0 20px 0 0;
        // font-weight: 600;
        color: #d11618;
        background-color: #ffe4e4;
        padding: 10px;
        position: sticky;
        top: 70px;
        font-family: "Playwrite IS", "Calibri", sans-serif;
    }

    .step-section-description {
        border: 1px solid #f0f0f0;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 0 0 0 20px;
        p {
            margin: 8px 0;
        }
    }

    .charitra {
        font-weight: 600;
        color: #d11618;
        font-size: 18px;
    }

    .radio-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 20px 0;
        width: 100%;
        overflow-x: scroll;
        margin: 20px 0;
        position: sticky;
        top: 64px;
        background-color: #ffffff;

        .radio-btn {
            margin: 4px;
            padding: 10px;
            border: 1px solid #f0f0f0;
            border-radius: 0 8px 0 8px;
            transition: 0.2s all;
            min-width: fit-content;
            cursor: pointer;
            background-color: #fefefe;

            &:hover {
                border: 1px solid #d11618;
                color: #fff;
                background-color: #d11618;
                transition: 0.2s all;
                box-shadow: 4px 4px 4px 1px #e0e0e0;
                transform: translateY(-2px);
            }
        }
    }

    .verses-main-container {
        // margin: 0 60px;
        #hindi-text-container,
        #latin-text-container,
        #meaning-text-container {
            // padding: 4px 10px;
            margin: 10px 4px 20px 4px;
            border: 1px solid #e0e0e0;
            p {
                padding: 0 10px;
            }
        }

        .verse-title {
            padding: 10px;
            background-color: #d11618;
            color: #fff;
            position: sticky;
            top: 156px;
        }
    }
}

.verse-selection {
    border: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 4px;
    margin-top: 20px;
    font-size: 14px;

    hindi {
        font-family: "Sanskrit Text", "Poppins", "Calibri", sans-serif;
    }

    &:hover {
        cursor: pointer;
    }
}

.radio-selected {
    margin: 4px;
    padding: 10px;
    border-radius: 0 8px 0 8px;
    cursor: pointer;
    border: 1px solid #d11618;
    color: #fff;
    background-color: #d11618;
    transition: 0.2s all;
    box-shadow: 4px 4px 4px 1px #e0e0e0;
    transform: translateY(-4px);
    min-width: fit-content;
    animation: pulse_glow 1s linear;
}

.latin-text {
    font-size: 16px;
    color: #272727;
    text-align: left;
    // font-weight: 700;
    font-family: "DoulosSIL", "Times New Roman", Times, serif;
}

.english-text {
    font-size: 16px;
    color: #272727;
    text-align: left;
    // font-weight: 700;
    font-family: "Assistant", "Calibri", sans-serif;
}

.gs-title {
    font-size: 22px;
    // font-weight: 700;
    margin: 10px 0;
    font-family: "Playwrite IS", "Calibri", sans-serif;

    img {
        height: 40px;
        width: 40px;
        margin: 10px;
        transition: 0.2s all;
    }
}

.about-container {
    margin: 8px 0 24px 0;
    
    .about-container-title {
        font-family: 'Playwrite IS', 'Calibri', sans-serif;
        font-size: 22px;
        padding: 10px;
        background-color: #fff8bc;

        img {
            height: 40px;
            width: 40px;
            margin: 10px;
            transition: 0.2s all;
        }
    }

    .about-container-body {
        border: 1px solid #fff8bc;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        p {
            text-align: justify;
            margin: 0 10px 20px 0;
        }
        div {
            margin: 4px 0;
        }

        div.profile-image {
            img {
                width: 150px;
                margin: 20px 10px;
                border-radius: 0 20px 0 20px;
            }
        }
    }
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.under-construction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
        font-family: 'Playwrite IS', 'Calibri', sans-serif;
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .image-holder {
        img {
            width: 500px;
            height: 500px;
            display: block;
            border-radius: 100%;
            border: 1px solid #e7ae21;
        }
    }

    .home-button {
        display: block;
        margin: 40px;
        a {
            text-decoration: none;
            border: 1px solid #e7ae21;
            padding: 10px 40px;
            background-color: #fffdec;
            transition: .3s all;
            border-radius: 4px;
            font-family: 'Playwrite IS', 'Calibri', sans-serif;

            &:hover {
                background-color: #ffb700;
                border: 1px solid #ffb700;
                color: #000;
                transition: .3s all;
            }
        }
    }
}

button#popover-btn {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    &:hover {
        cursor: pointer;
    }
}

div#meaning-popover {
    border: 1px solid #d11618;
    font-size: 14px;
    font-family: 'Playwrite IS', 'Calibri', sans-serif;
    margin: 20px;
    padding: 10px;
    color: #d11618;
    top: 12%;
    box-shadow: 4px 4px 10px 1px #e0e0e0;
    border-radius: 0 16px 0 16px;
}

// Animation Keyframes

@keyframes pulse_glow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 105, 108, 0.534);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(2255, 105, 108, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 105, 108, 0);
    }
}

// Overriding system defaults

::selection {
    background: #ffe292;
    color: #000;
}
::-webkit-selection {
    background: #d11618;
}
::-webkit-scrollbar {
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    height: 7px;
    width: 10px;
    margin: 5px 0;
}
::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #d11618;
    }
}

::-webkit-scrollbar-track-piece {
    height: 5px;
}
