{% extends 'layout.html' %}

{% block title %}Getting Started{% endblock %}

{% block content %}


<div class="nav-pages-buttons">
    <a href="{{ url_for('index') }}">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
                d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
                clip-rule="evenodd" />
        </svg>
    </a>
    <div class="gs-title">
        <img alt="Banner GIF" src="{{ url_for('static', filename='images/gifs/banner.gif') }}" />
        Getting Started with Devi Saptashati
        <img alt="Banner GIF" src="{{ url_for('static', filename='images/gifs/banner.gif') }}" />
    </div>
    <a href="{{ url_for('initial_purify_verses') }}">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
                d="M10.271 5.575C8.967 4.501 7 5.43 7 7.12v9.762c0 1.69 1.967 2.618 3.271 1.544l5.927-4.881a2 2 0 0 0 0-3.088l-5.927-4.88Z"
                clip-rule="evenodd" />
        </svg>
    </a>
</div>

<div class="content-container">

    <p>
        Performing the Chandi Path (also known as Devi Saptashati Path) is a sacred ritual that invokes the blessings of
        Goddess Durga through the recitation of the Devi Mahatmyam (700 verses). It is a powerful and complex procedure,
        traditionally done during Navaratri or on special occasions dedicated to the worship of the Goddess.
    
        Here is a step-by-step guide on the general procedure for performing Chandi Path and the sequence of recitations,
        including the important stotras (hymns) and suktas (Vedic chants).
    </p>

    <div class="steps-section">
        <div class="step-section">
            <div class="step-section-title">
                Introductory section
            </div>
            <div class="step-section-description">
                <p>
                    The Introductory Section of the Chandi Path consists of essential preparatory prayers, mantras, and invocations that
                    sanctify and align the devotee's mind and body before reciting the Devi Saptashati. Each component plays a crucial role in invoking blessings 
                    of the the blessings of Guru (spiritual guide), Ganapati (Lord of beginnings), and Goddess Durga, as well as preparing the spiritual
                    environment for the powerful recitation ahead.

                    Together, these preparatory chants purify the mind, invoke divine protection, and create a sacred foundation for the
                    recitation of the Devi Saptashati, aligning the devotee's intentions with the grace and power of the Divine Mother.
                </p>
                <p>
                    These should be recited each time you begin the Chandi Path.
                </p>
                <ol>
                    <li>guru prārthanā (<hindi>गुरु प्रार्थना</hindi>)</li>
                    <li>gaṇapatyatharvaśīrṣa (<hindi>गणपत्यथर्वशीर्ष</hindi>)</li>
                    <li>devyatharvaśīrṣam (<hindi>देव्यथर्वशीर्षम्</hindi>)</li>
                    <li>mātṛkā nyāsam (<hindi>मातृका न्यासम्</hindi>)</li>
                    <li>siddhakuñjikāstotram (<hindi>सिद्धकुञ्जिकास्तोत्रम्</hindi>)</li>
                    <li>devī kavacam (<hindi>देवी कवचम्</hindi>)</li>
                    <li>argalāstotram (<hindi>अर्गलास्तोत्रम्</hindi>)</li>
                    <li>kīlakastotram (<hindi>कीलकस्तोत्रम्</hindi>)</li>
                    <li>tantroktaṃ rātrisūktaṃ (<hindi>तन्त्रोक्तं रात्रिसूक्तं</hindi>)</li>
                    <li>navākṣarī mahāmantram (<hindi>नवाक्षरी महामन्त्रम्</hindi>)</li>
                    <li>dhyānam (<hindi>ध्यानम्</hindi>)</li>
                    <li>saptaśatīnyāsaḥ (<hindi>सप्तशतीन्यासः</hindi>)</li>
                </ol>
            </div>
            
        </div>

        <div class="step-section">
            <div class="step-section-title">
                Charitra (<hindi>चरित्र</hindi>) section
            </div>
            <div class="step-section-description">
                <p>
                    The Devi Saptashati is structured into three main Charitras (Episodes) that represent different forms and divine
                    functions of the Goddess: prathama caritra (<hindi>प्रथमचरित्र</hindi> / First Episode), madhyama caritra (<hindi>मध्यमचरित्र</hindi> / Middle Episode), and uttama caritra
                    (<hindi>उत्तमचरित्र</hindi> / Final Episode). Each Charitra symbolizes a unique aspect of the Goddess's power—creation, preservation, and
                    destruction—and her role in overcoming different forms of evil. Together, these episodes narrate the cosmic struggles
                    between divine and demonic forces, ultimately illustrating the Goddess's boundless power to protect and uplift her
                    devotees.
                </p>

                <ol>
                    <li class="charitra">prathama caritra (<hindi>प्रथमचरित्र</hindi>)</li>
                    <ol>
                        <li><b>Chapter-1:</b> prathamo'dhyāya: (<hindi>प्रथमोऽध्याय:</hindi>)</li>
                    </ol>
                    <li class="charitra">madhyama caritra (<hindi>मध्यमचरित्र</hindi>)</li>
                    <ol>
                        <li><b>Chapter-2:</b> dvitīyo'dhyāya: (<hindi>द्वितीयोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-3:</b> tṛtīyo'dhyāya: (<hindi>तृतीयोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-4:</b> caturtho'dhyāya: (<hindi>चतुर्थोऽध्याय:</hindi>)</li>
                    </ol>
                    <li class="charitra">uttama caritra (<hindi>उत्तमचरित्र</hindi>)</li>
                    <ol>
                        <li><b>Chapter-5:</b> pañcamo'dhyāya:  (<hindi>पञ्चमोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-6:</b> ṣaṣṭho'dhyāya:  (<hindi>षष्ठोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-7:</b> saptamo'dhyāya:  (<hindi>सप्तमोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-8:</b> aṣṭamo'dhyāya:  (<hindi>अष्टमोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-9:</b> navamo'dhyāya:  (<hindi>नवमोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-10:</b> daśamo'dhyāya:  (<hindi>दशमोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-11:</b> ekādaśo'dhyāya:  (<hindi>एकादशोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-12:</b> dvādaśo'dhyāya:  (<hindi>द्वादशोऽध्याय:</hindi>)</li>
                        <li><b>Chapter-13:</b> trayodaśo'dhyāya:  (<hindi>त्रयोदशोऽध्याय:</hindi>)</li>
                    </ol>
                </ol>

                <p>
                    The Charitras present the Goddess as a fundamental aspect of the Divine Mother:
                    <ol>
                        <li>Mahakali as the destroyer of ignorance</li>
                        <li>Mahalakshmi as the sustainer of harmony</li>
                        <li>Mahasaraswati as the embodiment of wisdom and spiritual power</li>
                    </ol>
                </p>

                <p>
                    There are two methods to start reading Devi Saptashati - Trayangam and Navangam.
                    <ol>
                        <li>
                            <b>Trayangam</b> is a method in which we need to chant three prayers - Devi Kavacham, Argala Stotram and Devi Keelakam
                            followed by Navakshari Mantram                            
                        </li>
                        <li>
                            <b>Navangam</b> is a method for which nine prayers are recited prior of starting reading the book. Navangam stotrams are:
                            Devi Nyasa, Devi Avahana, Devi Namani, Argala Stotram, Keelaka Stotram, Devi Hrudaya, Dhala, Devi Dhyana and Devi
                            Kavacha.
                        </li>
                    </ol>
                </p>

                <p>
                    As per the prescribed methods in ancient scriptures, Devi Mahatmya should be read in one sitting. After finishing the
                    recital of Devi Mahatmya, one should chant the Devi Suktam (slokas 7 to 36 of Chapter 8).
                    Devi Saptashati Parayana in 3 days & 7 days
                    <ul>
                        <li>
                            <b>3 Days Process:</b> Prathama Charitra or 1st Chapter on first day, Madhyama Charitra (2, 3, 4 chapters) on 2nd day, and
                            Uttama Charitra (5-13 chapters) on third day.                            
                        </li>
                        <li>
                            <b>7 Days Process:</b> 1st Chapter on first day, 2-3 chapters on 2nd day, 4th chapter on 3rd day, 5-8 chapters on 4th day, 9-10
                            chapters on 5th day, 11th chapter on 6th day and 12-13 chapters on 7th day.
                        </li>
                    </ul>
                </p>
                <p>
                    Each chapter should be read in single sitting. Due to any reason, Parayana is stopped in between a chapter; the whole
                    chapter should be read again.
                    The order of reciting Durga Saptashati Parayana daily is: Trayanga Mantra, Devi Mahatmya text followed by Devi Suktam.
                    Many devotees read Durga Saptashati during Navratri Durga Puja 9/10 days. Here is the procedure to read Devi Mahatmyam
                    during Navratri.
                </p>
            </div>
        
        </div>

        <div class="step-section">
            <div class="step-section-title">
                Conclusion and Apology Section
            </div>
            <div class="step-section-description">
                <p>
                    The Concluding Section of the Devi Saptashati — also known as the uttarāṅgam (<hindi>उत्तराङ्गम्</hindi>) — comprises a series of sacred
                    suktas, rahasyas (mystical teachings), and prayers that bring the recitation to a meaningful and respectful close. These
                    final hymns and stotras deepen the connection with the Goddess, impart spiritual insights, and seek forgiveness for any
                    errors made during the recitation. Together, they seal the energy and blessings invoked during the Chandi Path, bringing
                    the ritual to a fulfilling and auspicious conclusion.
                </p>
                <ol>
                    <li>uttarāṅgam (<hindi>उत्तराङ्गम्</hindi>)</li>
                    <li>devī sūktam‌ (<hindi>देवी सूक्तम्‌</hindi>)</li>
                    <li>pradhānikaṃ rahasyam‌ (<hindi>प्रधानिकं रहस्यम्‌</hindi>)</li>
                    <li>vaikṛtikaṃ rahasyam‌ (<hindi>वैकृतिकं रहस्यम्‌</hindi>)</li>
                    <li>mūrtirahasyam‌ (<hindi>मूर्तिरहस्यम्‌</hindi>)</li>
                    <li>aparādha-kṣamāpaṇa stotram‌ (<hindi>अपराध क्षमापण स्तोत्रम्‌</hindi>)</li>
                </ol>
                <p>
                    These concluding suktas, rahasyas, and prayers enrich the experience of the Devi Saptashati by offering a deeper
                    philosophical understanding and by honoring the all-encompassing power of the Goddess. Through these hymns, the devotee:
                    This concluding section ensures that the Chandi Path invokes the Goddess's blessings but also integrates
                    those blessings into the devotee's heart, mind, and spirit, fulfilling the ritual with reverence and gratitude.
                </p>
                <ul>
                    <li><b>Anchors the Divine Energy:</b> The uttarāṅgam anchors the protective and transformative energy of the Goddess within the
                    devotee's life.</li>
                    <li><b>Gains Insight:</b> The Rahasyas reveal the mystical secrets of Devi worship, encouraging personal transformation and a
                    deeper understanding of Shakti.</li>
                    <li><b>Seeks Compassion:</b> The Aparadha Kshama Stotra serves as a humble reminder of the devotee's human limitations, seeking the
                    Goddess's benevolent forgiveness and blessings.</li>
                </ul>                    
            </div>
        
        </div>

    </div>
    
</div>



{% endblock %}